<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="tests/bootstrap.php" colors="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Browser Test Suite">
      <directory suffix="Test.php">./tests/Browser</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_URL" value="http://127.0.0.1:8085"/>
    <env name="APP_ENV" value="testing"/>
    <env name="APP_KEY" value="base64:+Yk3U4u5A5sSnN6kUr5b38I2LE/SgNxwov5XX5FvSW0="/>
    <env name="APP_DEBUG" value="true"/>
    <env name="DUSK_TIMEZONE" value="Europe/Tallinn"/>
    <env name="DUSK_WIDTH" value="1920"/>
    <env name="DUSK_HEIGHT" value="1080"/>
  </php>
</phpunit>
